@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
// @import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 50px;
  float: right;
  padding: 0;
  margin-right: 50px;
}

input[type="text"] {
  height: 50px;
  font-size: 30px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 400;
  border: none;
  outline: none;
  color: #61005e;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  padding-left: 20px;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #61005e;
}

input[type="text"]:focus {
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid #61005e;
  background-color: #fff7006e;
  border-radius: 10px;
  cursor: text;
  padding-left: 20px;
}
input[type="text"]::placeholder{
    color: #61005e;
    font-weight: 400;
}

input[type="submit"] {
  height: 30px;
  width: 63px;
  display: flex;
  color:#61005e;
//   float: right;
  background: url(../../../../assets/imgs/HeaderMenu/magnifying-glass-solid.svg) no-repeat center;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
  margin-block: 10px;
}
